---
---


@for $i from 1 through 6 {
    .rotating-wrapper-#{$i} {
        width: 10%;
        animation: spin-#{$i} 15s linear infinite;
        position: absolute;
        transform-origin: 50vw 180%;
        
    }

    @keyframes spin-#{$i} {
        0% {
          transform: rotate(($i - 1) * 60 + 0deg) translate(450%, -50%);
        }
        50% {
          transform: rotate(($i - 1) * 60 + 180deg) translate(450%, -50%);
        }
        100% {
            transform: rotate(($i - 1) * 60 + 360deg) translate(450%, -50%);
        }
    }

}

.rotating-image {
    transition: transform .3s;
}

.rotating-image:hover {
    transform: scale(1.5);
}

.animation-container {
    position: absolute;
    left: 0vw;
    top: 0vw;
    width: 100vw;
    height: 0px;
    padding-bottom: 100vw * (9 / 16);
}

.medium {
    max-width: 75%;
}

.large {
    font-size: 60px;
}

.post-title {
    text-align: center;
}

h1 {
    font-family: 'Bitter', serif;
}

.left-image {
    display: block;
    float: left;
    margin-right: 20px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // TODO: refactor margin spacing into a separate content style or similar
    margin-top: 15px;
    margin-bottom: 15px;
}

.center-title {
    text-align: center;
    vertical-align: center;
}

.container {
    position: relative;
    height: 1200px;
}

.stack-image1 {
    position: absolute;
    width: 100%;
    top: 0px;
}

.stack-image2 {
    position: absolute;
    width: 100%;
    top: 320px;
}

.stack-image3 {
    position: absolute;
    width: 100%;
    top: 305px;
    left: 2px;
}

.move-down {
    transition: all 0.2s ease;
    .container:hover & {
        transform: translateY(30px);
    }
}

.move-down-far {
    transition: all 0.2s ease;
    .container:hover & {
        transform: translateY(100px);
    }
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    article {
        flex-basis: 25%;
        min-width: 150px;
        padding: 1em;

        h3, h4 {
            margin-bottom: 0;
        }
        a span {
            color: black;
            padding: 0 0.25rem;
        }
    }

    .headshot {
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 0.5rem;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.home {
    h1, h2 {
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        font-family: 'Bitter', serif;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    font-family: 'IBM Plex Sans', sans-serif;

    ul.project-list {
        list-style-type: none;
        margin-left: 0;
        h3 {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 1rem;
        }
    }

}
