---
---

.splash-button {
    grid-row: 2;
    grid-column: 2;
    width: 200px;
    height: 50px;
    align-self: center;
    justify-self: center;
}

.splash-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #eee;
    display: grid;
    grid-template-rows: 40% 20% 40%;
    grid-template-columns: 40% 20% 40%;
}

.video-info {
	position: absolute;
	top: 500px;
	width: 100%;
	text-align: center;
	z-index: 100;
    display:block;
    font-size: 50px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-shadow: 2px 2px #000000;
    color: #ffffff;
    font-weight: bold;
    visibility: hidden;
}

.medium {
    max-width: 75%;
}

.large {
    font-size: 60px;
}

.post-title {
    text-align: center;
}

h1 {
    font-family: 'Bitter', serif;
}

.left-image {
    display: block;
    float: left;
    margin-right: 20px;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // TODO: refactor margin spacing into a separate content style or similar
    margin-top: 15px;
    margin-bottom: 15px;
}

.center-title {
    text-align: center;
    vertical-align: center;
}

.container {
    position: relative;
    height: 1200px;
}

.stack-image1 {
    position: absolute;
    width: 100%;
    top: 0px;
}

.stack-image2 {
    position: absolute;
    width: 100%;
    top: 320px;
}

.stack-image3 {
    position: absolute;
    width: 100%;
    top: 305px;
    left: 2px;
}

.move-down {
    transition: all 0.2s ease;
    .container:hover & {
        transform: translateY(30px);
    }
}

.move-down-far {
    transition: all 0.2s ease;
    .container:hover & {
        transform: translateY(100px);
    }
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    article {
        flex-basis: 25%;
        min-width: 150px;
        padding: 1em;

        h3, h4 {
            margin-bottom: 0;
        }
        a span {
            color: black;
            padding: 0 0.25rem;
        }
    }

    .headshot {
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: 50%;
        margin-bottom: 0.5rem;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.home {
    h1, h2 {
        text-align: center;
        font-family: 'Source Code Pro', monospace;
        font-family: 'Bitter', serif;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    font-family: 'IBM Plex Sans', sans-serif;

    ul.project-list {
        list-style-type: none;
        margin-left: 0;
        h3 {
            margin-bottom: 0;
        }
        li {
            margin-bottom: 1rem;
        }
    }

}
