<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<link rel="stylesheet" href="/assets/main-style.css">

<body>

  <!-- {%- include header.html -%} -->

  <div id="wall">
    {% assign sortedLinks = site.data.whiteboard | sort: 'date' %}
    <div id="whiteboard">
      <iframe id="whiteboard" width=640 height=480 src="http://localhost:8080"></iframe>
      <!-- <img id="whiteboard" src="{{sortedLinks.last.src}}"/> -->
      <i>
        <p>Curious about what we're up to?</p>
        <p>Our whiteboard is captured periodically and updated here.</p>
      </i>
    </div>
    <img id="left" src="/assets/shelves.svg"></img>
    <img id="right" src="/assets/door.svg"></img>
    <img src="/assets/pole.svg" id="upper">
    <div id="hint-wrapper">
    <a id="hint" href="#content">
      <p>
        <i>Psst! There's more down here!</i>
      </p>
    </a>
  </div>
  </div>

  <main id='content' class="page-content" aria-label="Content">
    <div class="wrapper">
      <div class="home">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}

        {{ content }}

        <h2>What We've Done</h2>
        {%- include project-list.html -%}

        <h2>Who We Are</h2>
        <div class="team">
          {% for member in site.people %}
          <article>
            <img class="headshot" src="{{ site.baseurl }}/assets/{{ member.image }}" alt="" />
            <div class="content">
              <h3>{{ member.name }}</h3>
              <h4><i>{{ member.role }}</i></h4>
              <div class="links">
                {% if member.website %}
                <a href="{{ member.website }}" target="_blank">
                  <span class="fas fa-globe-americas"></span>
                </a>
                {% endif %}
                {% if member.email %}
                <a href="mailto:{{ member.email }}" target="_blank">
                  <span class="fa-envelope fas"></span>
                </a>
                {% endif %}
              </div>
              <p>{{ member.description }}</p>
            </div>
          </article>
          {% endfor %}
        </div>

        {% if site.data.links.size > 0 %}
        <h2>What We Like</h2>
        <ul class="links">
          {% for link in site.data.links %}
          <li><a href="{{ link }}">{{ link }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

      </div>

    </div>
  </main>

  <!-- {%- include footer.html -%} -->

</body>

<!--
 __________________________
< Welcome to the Bear Cave >
 --------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
 -->

</html>