<html>
	<head>
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
        <video id="video" autoplay loop muted crossOrigin="anonymous" webkit-playsinline style="display:none">
                <source src="/assets/big_buck_bunny.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
        <script src="/assets/js/three.js"></script>
        <script src="/assets/js/controls/DragControls.js"></script>
        <script src="/assets/js/OBJLoader.js"></script>
        <script src="/assets/js/MTLLoader.js"></script>
		<script>

            const FOV = 60;
            // Setup scene and camera
			var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera( FOV, window.innerWidth/window.innerHeight, 0.1, 1000 );
            var clock = new THREE.Clock();


            // Setup renderer and add to window
			var renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.shadowMap.enabled = true;
            document.body.appendChild( renderer.domElement );
            
            const ambientLight = new THREE.AmbientLight(0xffffff, 1.8);
            const pointLight = new THREE.PointLight(0xffffff,.3);
            pointLight.castShadow = true;

            pointLight.position.x = 2;
            pointLight.position.y = 20;
            pointLight.position.z = 2; 

            pointLight.shadow.mapSize.x = 1024;
            pointLight.shadow.mapSize.y = 1024;

            scene.add(pointLight);
            scene.add(ambientLight);

            var helper = new THREE.CameraHelper( pointLight.shadow.camera );
            scene.add( helper );


            // Create geometry
            var pedGeometry = new THREE.BoxGeometry( 1, 2, 1 );
            var TVGeometry = new THREE.BoxGeometry( .7, 0.5, 1, 1 );

            // Mesh is what shaders interact with
			var material = new THREE.MeshStandardMaterial( { color: 0xffffff } );
            var pedestal = new THREE.Mesh( pedGeometry, material );
            pedestal.castShadow = true;
            pedestal.receiveShadow = true;
			scene.add( pedestal );
            pedestal.position.set(0, 1, -2);

            // Making video texture
            video = document.getElementById( 'video' );
            texture = new THREE.VideoTexture( video );
            const parameters = { color: 0xffffff, map: texture };

            var TVMaterial = new THREE.MeshBasicMaterial(parameters);
            var tvScreen = new THREE.Mesh( TVGeometry, TVMaterial );
            tvScreen.castShadow = true;
			scene.add( tvScreen );
            tvScreen.position.set(0, 2.25, -3);


            var controls = new THREE.DragControls( camera, renderer.domElement, FOV );



            camera.position.y = 2.4;
            // camera.lookAt(new THREE.Vector3(0,10,1));

            controls.lon = -90;
            controls.lat = -10;
            // controls.noFly = true;
            // controls.lookVertical = true;

            var woodTexture = new THREE.TextureLoader().load( "/assets/WoodTexture.png" );
            woodTexture.wrapS = THREE.RepeatWrapping;
            woodTexture.wrapT = THREE.RepeatWrapping;
            woodTexture.repeat.set( 20, 20 );

            var geometry = new THREE.PlaneGeometry( 100, 100, 1, 1 );
            var material = new THREE.MeshStandardMaterial( {map: woodTexture } );
            var floor = new THREE.Mesh( geometry, material );

            floor.material.roughness = .1;
            floor.material.metalness = .5;
            floor.material.side = THREE.DoubleSide;
            floor.rotation.x = 3.14 / 2;
            floor.receiveShadow = true;
            scene.add( floor ); 

            var wallTexture = new THREE.TextureLoader().load( "/assets/WallTexture.jpg" );
            wallTexture.wrapS = THREE.RepeatWrapping;
            wallTexture.wrapT = THREE.RepeatWrapping;
            wallTexture.repeat.set( 200, 200 );


            var geometry = new THREE.CylinderGeometry( 7, 7, 50, 32 );
            var cylMaterial = new THREE.MeshStandardMaterial( {map: wallTexture} );
            var cylinder = new THREE.Mesh( geometry, cylMaterial );
            cylinder.material.side = THREE.DoubleSide;
            cylinder.material.bumpMap = wallTexture;
            cylinder.material.bumpScale = 0.05;

            cylinder.material.roughness = 1;
            scene.add( cylinder );




                var loader = new THREE.OBJLoader( );
                loader.load( '/assets/tv.obj', function ( tv ) {
                    tv.traverse( function ( child ) {
                        if ( child instanceof THREE.Mesh ) {
                            if (child.material.color != null) {
                                child.material.color.setHex(0x222222);
                            }
                        }
                    } );
                    tv.position.set(0.35, 1.8, -3.25);
                    tv.scale.set(0.5,0.5,0.5);
                    tv.castShadow = true;
                    // var tvMaterial = new THREE.MeshStandardMaterial( {color: 0x333333} );
                    // tvMesh = new THREE.Mesh (tv, tvMaterial);
                    scene.add( tv );
                    var box = new THREE.Box3().setFromObject( tv );
                    console.log(box.getSize() );
                } );


			var animate = function () {



                requestAnimationFrame( animate );
                // console.log(camera.position)
                controls.update(clock.getDelta());

				// pedestal.rotation.x += 0.01;
				// pedestal.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
		</script>
	</body>
</html>