<html>
	<head>
		<title>My first three.js app</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100% }
		</style>
	</head>
	<body>
        <video id="video" autoplay loop muted crossOrigin="anonymous" webkit-playsinline style="display:none">
                <source src="/assets/big_buck_bunny.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
        <script src="/assets/js/three.js"></script>
        <script src="/assets/js/controls/DragControls.js"></script>
		<script>

            const FOV = 50;
            // Setup scene and camera
			var scene = new THREE.Scene();
            var camera = new THREE.PerspectiveCamera( FOV, window.innerWidth/window.innerHeight, 0.1, 1000 );
            var clock = new THREE.Clock();


            // Setup renderer and add to window
			var renderer = new THREE.WebGLRenderer();
            renderer.setSize( window.innerWidth, window.innerHeight );
            renderer.shadowMap.enabled = true;
			document.body.appendChild( renderer.domElement );

            // Create geometry
            var pedGeometry = new THREE.BoxGeometry( 1, 2, 1 );
            var TVGeometry = new THREE.BoxGeometry( 0.5, 0.5, 0.5 );

            // Mesh is what shaders interact with
			var material = new THREE.MeshStandardMaterial( { color: 0xffffff } );
            var pedestal = new THREE.Mesh( pedGeometry, material );
            pedestal.castShadow = true;
            pedestal.receiveShadow = true;
			scene.add( pedestal );
            pedestal.position.set(0, 1, -3);

            // Making video texture
            video = document.getElementById( 'video' );
            texture = new THREE.VideoTexture( video );
            const parameters = { color: 0xffffff, map: texture };

            var TVMaterial = new THREE.MeshBasicMaterial(parameters);
            var tv = new THREE.Mesh( TVGeometry, TVMaterial );
            tv.castShadow = true;
			scene.add( tv );
            tv.position.set(0, 2.25, -3);

            const ambientLight = new THREE.AmbientLight(0xffffff, 1.8);
            const pointLight = new THREE.SpotLight(0xffffff,.05);
            pointLight.castShadow = true;

            pointLight.position.x = 2;
            pointLight.position.y = 5;
            pointLight.position.z = 20;

            scene.add(pointLight);
            scene.add(ambientLight);

            var controls = new THREE.DragControls( camera, renderer.domElement, FOV );
            controls.lookVertical = false;



            camera.position.y = 2.3;
            // camera.lookAt(new THREE.Vector3(0,10,1));

            controls.lookSpeed = 4;
            controls.movementSpeed = 20;
            controls.activeLook = false;
            controls.lon = -90;
            controls.lat = -15;
            // controls.noFly = true;
            // controls.lookVertical = true;

            var woodTexture = new THREE.TextureLoader().load( "/assets/WoodTexture.png" );
            woodTexture.wrapS = THREE.RepeatWrapping;
            woodTexture.wrapT = THREE.RepeatWrapping;
            woodTexture.repeat.set( 20, 20 );

            var geometry = new THREE.PlaneGeometry( 100, 100, 1, 1 );
            var material = new THREE.MeshStandardMaterial( {map: woodTexture } );
            var floor = new THREE.Mesh( geometry, material );
            floor.material.side = THREE.DoubleSide;
            floor.rotation.x = 3.14 / 2;
            floor.receiveShadow = true;
            scene.add( floor ); 

            var wallTexture = new THREE.TextureLoader().load( "/assets/WallTexture.jpg" );
            wallTexture.wrapS = THREE.RepeatWrapping;
            wallTexture.wrapT = THREE.RepeatWrapping;
            wallTexture.repeat.set( 200, 200 );


            var geometry = new THREE.CylinderGeometry( 7, 7, 50, 32 );
            var cylMaterial = new THREE.MeshStandardMaterial( {map: wallTexture} );
            var cylinder = new THREE.Mesh( geometry, cylMaterial );
            cylinder.material.side = THREE.DoubleSide;
            scene.add( cylinder );

			var animate = function () {



                requestAnimationFrame( animate );
                // console.log(camera.position)
                controls.update(clock.getDelta());

				// pedestal.rotation.x += 0.01;
				// pedestal.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
		</script>
	</body>
</html>