<html>
	<head>
        <link rel="stylesheet" href="/assets/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<title>Greenhouse 3D</title>
		<style>
			body { margin: 0; }
			canvas { width: 100%; height: 100%; }
		</style>
	</head>
	<body>
        <div class="splash-container" id="cover-screen" >
            <!-- <div class="splash-elements"> -->
                <!-- <div class="info-card">welcome to The Greenhouse</div> -->
                <img class="gh-logo" src="/assets/ghlogo-new.png"></img>
                <input type="button" value="loading..." class="splash-button info-card" id="cover-button"></input>
                <!-- <button class="splash-button info-card" id="cover-button" onclick="startScene()">loading...</button> -->
            <!-- </div> -->
        </div>
        {% for video in site.data.videos %}
            <video id="video{{ forloop.index }}" loop muted crossOrigin="anonymous" webkit-playsinline style="display:none">
                <source src="{{ video.src }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
            <a href="{{ video.href }}" style="display:none" id="video{{ forloop.index }}-link"></a>
            <div class="video-info info-card" id="video{{ forloop.index }}-info">{{video.title}}</div>
        {% endfor %}
        {% include three_scripts.html %}
        <script>
            function startScene (event) {
                document.getElementById('cover-screen').style.visibility = 'hidden';
                document.getElementById('cover-button').style.visibility = 'hidden';
                var videos = document.getElementsByTagName('video');
                var i = 0;
                for (i = 0; i < videos.length; i++) {
                    video = videos[i];
                    video.play();
                }
            }

        </script>
	</body>
</html>